md-content.md-padding
  md-toolbar.md-whiteframe-z1
    md-content(
      layout="row",
      layout-align="space-around"
    )
      md-input-container.md-padding(
        flex="33"
      )
        label.md-no-float Truss Form
        md-select(
          placeholder="Form"
          ng-model="simulation.form"
        )
          md-option(
            ng-repeat="form in forms"
            ng-value="form"
          ) {{ form }}
      md-input-container.md-padding(
        flex="33"
      )
        label.md-no-float Applied Load
        md-select(
          placeholder="Applied load"
          ng-model="simulation.load"
        )
          md-option(
            ng-repeat="load in [120, 240, 480]"
            ng-value="load"
          ) {{ load }} kN
      md-input-container(
        flex="33"
      )
        label.md-no-float Load Distribution
        md-select(
          placeholder="Loading"
          ng-model="simulation.loading"
        )
          md-option(
            ng-repeat="load in loading"
            ng-value="load"
          ) {{ load }}
    md-content(
      layout="row",
      layout-align="space-around"
    )
      md-input-container(flex)
        label.md-no-float Truss&nbsp;Span:&nbsp;{{ simulation.span | number:1}}m
        md-slider(
          aria-label="Truss span, in meters."
          ng-model="simulation.span",
          min="5",
          max="100",
          step="1"
        )
      md-input-container(flex)
        label.md-no-float Truss&nbsp;Height:&nbsp;{{ simulation.height | number:1}}m
        md-slider(
          aria-label="Control truss height, in meters."
          ng-model="simulation.height",
          min="2",
          max="10",
          step=".1"
        )
  md-card(
    layout="row",
    layout-align="space-around"
  )
    div(
      flex="15"
      layout="column"
    )
      md-content.md-padding
        div(
          layout="row"
          ng-repeat="(connection, beam) in _truss.beams"
        )
          div(flex="33")
            b {{ connection }}
          div(
            flex="66"
            style="text-align: right"
          )
            span(
              style="\
                color: hsl({{beam.load > 0 ? 200 : 0}}, {{$scales.saturation(Math.abs(beam.load))}}%, 50%); \
              "
            ) {{ beam.load | number:0 }}
            | &nbsp;kN
    div(flex, layout="row", layout-align="center center")
      svg(
        height="200px"
        width="600px"
        graph-scales="{\
          x: ['linear', -50, 50], \
          y: ['linear', 30, -3], \
          saturation: ['log', ex.load.min, ex.load.max, 35, 100], \
          stroke: ['log', ex.load.min, ex.load.max, 0.5, 8], \
          arrow: ['log', 120/3, 480, 10, 25], \
        }"
        graph-tick="\
          _truss = truss(); \
        "
      )
        g
          line(
            ng-repeat="(connection, beam) in _truss.beams"
            from="$scales(beam.from)"
            to="$scales(beam.to)"
            style=" \
              stroke: hsl({{beam.load > 0 ? 200 : 0}}, {{$scales.saturation(Math.abs(beam.load)) || 0}}%, 50%); \
              stroke-width: {{$scales.stroke(Math.abs(beam.load)) || 1}}px; \
            "
          )
          text(
            ng-repeat="(label, point) in _truss.points | filter:point[1]:0"
            at="[\
              $scales.x(point[0]) + ( \
                point[1] == 0 \
                ? (Math.sign(point[0]) || -1) * (\
                  label == 'H' ?\
                  -12 : \
                  -10\
                ) \
                : 0\
              ), \
              $scales.y(point[1]) + (point[1] == 0 ? 18 : -5) \
            ]"
            text-anchor="middle"
          ) {{ label }}
        g(
        
        )
          circle(
            r="5"
            fill="none"
            stroke="green"
            center="[$scales.x(_truss.points.A[0])+1, $scales.y(0) + 6]"
          )
          path(
            fill="none"
            stroke="green"
            ng-attr-d="\
              M{{ $scales.x(_truss.points.H[0])}}, {{ $scales.y(0) }}\
              l5,10 h-10 z \
            "
          )
        g(
          ng-if="simulation.loading === 'Center'"
        )
          arrow(
            color="'hsl(135, 25%, 50%)'"
            rotation="90"
            tip="[$scales.x(0), $scales.y(0) + $scales.arrow(simulation.load)]"
            length="$scales.arrow(simulation.load)"
          )
        g(
          ng-if="simulation.loading === 'Even'"
        )
          arrow(
            ng-repeat="x in [_truss.points.C, _truss.points.E, _truss.points.G]"
            color="'hsl(135, 25%, 50%)'"
            rotation="90"
            tip="[$scales.x(x[0]), $scales.y(0) + $scales.arrow(simulation.load / 3)]"
            length="$scales.arrow(simulation.load / 3)"
          )
        g(
          ng-if="simulation.loading === 'Left'"
        )
          arrow(
            ng-repeat="x in [_truss.points.C]"
            color="'hsl(135, 25%, 50%)'"
            rotation="90"
            tip="[$scales.x(x[0]), $scales.y(0) + $scales.arrow(simulation.load)]"
            length="$scales.arrow(simulation.load)"
          )
