md-content
  md-toolbar.md-whiteframe-z1.toolbar
    section(
      layout="row",
      layout-align="space-around"
    )
      md-content.md-padding(
        flex="50"
      )
        md-select(
          placeholder="Form"
          ng-model="simulation.form"
        )
          md-option(
            ng-repeat="form in forms"
            ng-value="form"
          ) {{ form }}
      md-content.md-padding(
        flex="50"
      )
        md-select(
          placeholder="Loading"
          ng-model="simulation.load"
        )
          md-option(
            ng-repeat="load in loading"
            ng-value="load"
          ) {{ load }}
        //- span.material-property-label Truss&nbsp;Bays
        //- md-radio-group(
        //-   ng-model="simulation.bays"
        //-   layout="row"
        //- )
        //-   md-radio-button(value="1") 1
        //-   md-radio-button(value="2") 2
        //-   md-radio-button(value="3") 3
    section(layout="row", layout-align="space-around")
      md-content.md-padding(
        flex
        layout="column",
        layout-align="left center",
      )
        div.supported-weight-label
          | Truss&nbsp;Height
          br
          span.material-property-value {{ simulation.height | number:1}}
          | m
        md-slider(
          aria-label="Control truss height, in meters."
          ng-model="simulation.height",
          min="2",
          max="50",
          step=".25"
        )
      md-content.md-padding(
        flex
        layout="column",
        layout-align="left center",
      )
        div.supported-weight-label
          | Truss&nbsp;Span
          br
          span.material-property-value {{ simulation.span | number:1}}
          | m
        md-slider(
          aria-label="Truss span, in meters."
          ng-model="simulation.span",
          min="20",
          max="400",
          step="1"
        )
  div(
    layout="row",
    layout-align="space-around"
  )
    div(
      flex="15"
      layout="column"
    )
      md-content.md-padding
        div(
          layout="row"
          ng-repeat="(connection, beam) in truss().beams"
        )
          div(flex="33")
            b {{ connection }}
          div(
            flex="66"
            style="\
              color: hsl({{beam.load > 0 ? 200 : 0}}, {{$scales.saturation(Math.abs(beam.load))}}%, 50%); \
            "
          )
            | {{ beam.load | number:0 }}
    div(flex, layout="row", layout-align="center center")
      svg(
        height="200px"
        width="600px"
        graph-scales="{\
          x: ['linear', -255, 255], \
          y: ['linear', 60, -10], \
          saturation: ['log', ex.load.min, ex.load.max, 35, 100], \
          stroke: ['log', ex.load.min, ex.load.max, 1, 8], \
        }"
      )
        line(
          ng-repeat="(connection, beam) in truss().beams"
          from="$scales(beam.from)"
          to="$scales(beam.to)"
          style=" \
            stroke: hsl({{beam.load > 0 ? 200 : 0}}, {{$scales.saturation(Math.abs(beam.load))}}%, 50%); \
            stroke-width: {{$scales.stroke(Math.abs(beam.load))}}px; \
          "
        )
        text(
          ng-repeat="(label, point) in truss().points | filter:point[1]:0"
          at="$scales(point)"
          text-anchor="middle"
          ng-attr-alignment-baseline="{{ point[1] == 0 ? 'hanging' : 'baseline'}}"
        ) {{ label }}
