md-content.md-padding
  md-toolbar.md-whiteframe-z1
    md-content(layout="row", layout-align="space-around")
      md-input-container(
        flex="33"
      )
        label.md-no-float Applied&nbsp;Load&nbsp;{{ simulation.applied | number:0}}&nbsp;kN/m
        md-slider.md-primary(
          aria-label="Applied Load in kilonewtons per meter."
          ng-model="simulation.applied",
          step="0.5",
          min="0",
          max="250"
        )
      md-input-container(
        flex="33"
      )
        label.md-no-float
          | Height&nbsp;{{ simulation.height | number:0}}&nbsp;m
        md-slider.md-primary(
          aria-label="Arch height, in meters."
          ng-model="simulation.height",
          min="10",
          max="200",
          step="1"
        )
      md-input-container(
        flex="33"
      )
        label.md-no-float Span&nbsp;{{ simulation.span | number:0}}&nbsp;m
        md-slider.md-primary(
          aria-label="Arch span, in meters."
          ng-model="simulation.span",
          min="30",
          max="400",
          step="1"
        )
  md-card(
    layout="row",
    layout-align="space-around"
  )
    md-content.md-padding(
      flex="30",
      layout="column"
    )
      div(layout="column")
        md-button.md-raised.md-warn(
          ng-init="showCompressiveHelp = false"
          ng-click="showCompressiveHelp = !showCompressiveHelp"
        )
          b Compressive:
          span(style="text-transform: none;")&nbsp;{{ force.horizontal() | number:0 }}&nbsp;kN
        span(
          ng-show="showCompressiveHelp"
        )
          | This is the horizontal reaction force at the base or support point of the arch. The horizontal force is equal to the internal compressive force, C, for an arch with a funicular form.
      div(layout="column")
        md-button.md-raised.md-accent(
          ng-init="showVerticalHelp = false"
          ng-click="showVerticalHelp = !showVerticalHelp"
        )
          b Vertical:
          span(style="text-transform: none;")&nbsp;{{ force.vertical() | number:0 }}&nbsp;kN
        span(
          ng-show="showVerticalHelp"
        )
          | This is the vertical reaction force at the base or support point of the arch. The vertical force must balance out the applied load.
      div(flex)
    div(flex, layout="row", layout-align="center center")
      svg(
        height="250px"
        width="500px"
        graph-scales="{\
          x: ['linear', -250, 250], \
          y: ['linear', 175, -125], \
          rx: ['linear', 0, 500, 0, 500], \
          ry: ['linear', 0, 750, 0, 500], \
          ax: ['linear', 0, force.horizontal.max, 10, 45],\
          ay: ['linear', 0, force.vertical.max, 5, 45],\
          applied: ['linear', 0, 450, 1, 17]\
        }"
      )
        g#arch
          path(
            stroke="black"
            stroke-width="1px"
            fill="lightgrey"
            ng-attr-d="\
              M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(0) }}\
              A {{ $scales.rx(simulation.span / 2) }} {{ $scales.ry(simulation.height) }}\
                0, 0, 1, \
                {{ $scales.x(simulation.span / 2) }} {{ $scales.y(0) }}\
              L{{ $scales.x(simulation.span / 2 * .9) }} {{ $scales.y(0) }}\
              A{{ $scales.rx(simulation.span / 2 * .9) }} {{ $scales.ry(simulation.height * .9) }}\
                0, 0, 0, \
                {{ $scales.x(-simulation.span / 2 * .9) }} {{ $scales.y(0) }}\
              Z\
            "
          )
        g#arrows
          g#applied_arrows
            arrow(
              ng-repeat="a in forall($scales.applied(simulation.span))"
              color="'green'"
              rotation="90"
              tip="[ \
                $scales.x((-simulation.span / 2) + ($index * simulation.span / Math.floor($scales.applied(simulation.span)))), \
                $scales.y(simulation.height/2) \
              ]"
              length="$scales.applied(simulation.applied)"
            )
            path(
              stroke="green"
              stroke-width="1px"
              ng-attr-d="\
                M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(simulation.height/2) }}\
                L{{ $scales.x( simulation.span / 2) }} {{ $scales.y(simulation.height/2) }}\
                M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(simulation.height/2) - $scales.applied(simulation.applied) }}\
                L{{ $scales.x( simulation.span / 2) }} {{ $scales.y(simulation.height/2) - $scales.applied(simulation.applied) }}\
              "
            )
          arrow(
            color="'rgb(244,67,54)'"
            rotation="0"
            tip="[$scales.x(-simulation.span / 2), $scales.y(0)]"
            length="$scales.ax(force.compressive())"
          )
          arrow(
            color="'rgb(68,138,255)'"
            rotation="-90"
            tip="[$scales.x(-simulation.span / 2), $scales.y(0)]"
            length="$scales.ay(force.vertical())"
          )
          arrow(
            color="'rgb(244,67,54)'"
            rotation="180"
            tip="[$scales.x(0), $scales.y(simulation.height/2 * 0.9)]"
            length="$scales.ax(force.compressive())"
          )
