md-content
  md-toolbar.md-whiteframe-z1.toolbar
    section(layout="row", layout-align="space-around")
      md-content.md-padding(
        flex="33"
        layout="column",
        layout-align="left center",
      )
        div.supported-weight-label
          | Applied&nbsp;Load
          br
          span.material-property-value {{ simulation.applied | number:0}}
          | &nbsp;kN/m
        md-slider(
          aria-label="Applied Load in kilonewtons per meter."
          ng-model="simulation.applied",
          min="10",
          max="50000"
        )
        div.supported-weight-label
          md-button(ng-click="simulation.applied = 10") Empty
          md-button(ng-click="simulation.applied = 5000") Cars
          md-button(ng-click="simulation.applied = 30000") Semis
          md-button(ng-click="simulation.applied = 45000") Train
      md-content.md-padding(
        flex="33"
        layout="column",
        layout-align="left center",
      )
        div.supported-weight-label
          | Height
          br
          span.material-property-value {{ simulation.height | number:0}}
          | m
        md-slider(
          aria-label="Arch height, in meters."
          ng-model="simulation.height",
          min="10",
          max="600",
          step="1"
        )
        div.supported-weight-label
          md-button(ng-click="simulation.height = 50") Small
          md-button(ng-click="simulation.height = 250") Large
          md-button(ng-click="simulation.height = 600") Mega
      md-content.md-padding(
        flex="33"
        layout="column",
        layout-align="left center",
      )
        div.supported-weight-label
          | Span
          br
          span.material-property-value {{ simulation.span | number:0}}
          | m
        md-slider(
          aria-label="Arch span, in meters."
          ng-model="simulation.span",
          min="30",
          max="600",
          step="1"
        )
        div.supported-weight-label
          md-button(ng-click="simulation.span = 50") Small
          md-button(ng-click="simulation.span = 250") Large
          md-button(ng-click="simulation.span = 600") Mega
  div(
    layout="row",
    layout-align="space-around"
  )
    md-content.md-padding(
      flex="30",
      layout="column"
    )
      div(flex="10", layout="column")
        b Horizontal Load:
        | {{ force.horizontal() | number:0 }}&nbsp;kN
      div(flex="10", layout="column")
        b Vertical Load:
        | {{ force.vertical() | number:0 }}&nbsp;kN
      div(flex)
    div(flex, layout="row", layout-align="center center")
      svg(
        height="400px"
        width="400px"
        graph-scales="{\
          x: ['linear', -350, 350], \
          y: ['linear', 550, -50], \
          rx: ['linear', 0, 600, 0, 400], \
          ry: ['linear', 0, 600, 0, 400], \
          ax: ['linear', 0, force.horizontal.max, 5, 45],\
          ay: ['linear', 0, force.vertical.max, 5, 45]\
        }"
      )
        g#arch
          path(
            stroke="black"
            stroke-width="1px"
            fill="lightgrey"
            ng-attr-d="\
              M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(0) }}\
              A {{ $scales.rx(simulation.span / 2) }} {{ $scales.ry(simulation.height) }}\
                0, 0, 1, \
                {{ $scales.x(simulation.span / 2) }} {{ $scales.y(0) }}\
              L{{ $scales.x(simulation.span / 2 * .9) }} {{ $scales.y(0) }}\
              A{{ $scales.rx(simulation.span / 2 * .9) }} {{ $scales.ry(simulation.height * .9) }}\
                0, 0, 0, \
                {{ $scales.x(-simulation.span / 2 * .9) }} {{ $scales.y(0) }}\
              Z\
            "
          )
          path(
            stroke="green"
            stroke-width="1px"
            ng-attr-d="\
              M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(simulation.height/3) }}\
              L{{ $scales.x( simulation.span / 2) }} {{ $scales.y(simulation.height/3) }}\
            "
          )
        g#arrows
          path(
            stroke="darkblue"
            stroke-width="1px"
            fill="none"
            ng-attr-d="\
              M{{ $scales.x(-simulation.span / 2) - $scales.ax(force.horizontal()) }} {{ $scales.y(0) }}\
              h{{ $scales.ax(force.horizontal()) }} \
              l-5,-5\
            "
          )
          path(
            stroke="red"
            stroke-width="1px"
            fill="none"
            ng-attr-d="\
              M{{ $scales.x(-simulation.span / 2) }} {{ $scales.y(0) + $scales.ay(force.vertical())  }}\
              v{{ -$scales.ay(force.vertical()) }} \
              l5,5\
            "
          )
          path(
            stroke="red"
            stroke-width="1px"
            fill="none"
            ng-attr-d="\
              M{{ $scales.x(0) }} {{ $scales.y(simulation.height/3) - $scales.ax(force.compressive())  }}\
              v{{ $scales.ax(force.compressive()) }} \
              l5,-5\
            "
          )
